# ===================================
# PUMMARKET AI BOT
# ===================================

STORE_NAME=pummarket.id
OWNER_NAME=PUM
PREFIX=.

# OpenAI API Key
OPENAI_API_KEY=YOUR_OPENAI_API_KEY

# Port
PORT=3000
